<div class="container mx-auto p-4" (click)="contextMenu.set(null)">
    <div class="flex gap-4 mb-4">
      <input #start type="month" [value]="startDate() | date:'yyyy-MM'" 
             (change)="handleDateChange(start, end)" class="p-2 border rounded">
      <input #end type="month" [value]="endDate() | date:'yyyy-MM'" 
             (change)="handleDateChange(start, end)" class="p-2 border rounded">
    </div>
  
    <table class="w-full border-collapse border">
      <thead>
        <tr>
          <th class="p-2 border bg-gray-100">Categories</th>
          <th *ngFor="let month of months()" class="p-2 border bg-gray-100">
            {{ month | date:'MMM' }}
          </th>
        </tr>
      </thead>
  
      <tbody>
        <ng-container *ngFor="let category of categories()">
          <tr  *ngIf="category.isParent">
            <td class="border p-2 font-bold" [attr.colspan]="months().length + 1">{{ category.name }}</td>
          </tr>
  
          <ng-container *ngFor="let subCategory of category.subCategories">
            <tr *ngIf="!subCategory.isNew">
              <td class="border p-2 font-bold" [attr.colspan]="months().length + 1">{{ subCategory.name }}</td>
            </tr>
            <tr *ngIf="subCategory.isNew">
              <td class="border p-2 font-bold" [attr.colspan]="months().length + 1">
                <input type="text" 
                  [(ngModel)]="subCategory.newName"
                  (keydown)="handleCellKey($event, subCategory, category.id, 1, 1)"
                 class="p-1 focus:outline-none focus:ring-1 focus:ring-blue-500"
                 style="width: 90%;"/>
              </td>
            </tr>

            <ng-container *ngFor="let subSubCategory of subCategory.subCategories; let rowIndex = index">
              <tr *ngIf="!subSubCategory.isNew">
                <td class="border p-2">{{ subSubCategory.name }}</td>
                <ng-container *ngFor="let cell of subSubCategory.cells; let cellIndex = index">
                  <td *ngIf="cellIndex < months().length" class="border p-2">
                    <input type="number" 
                    #inputRef
                    [(ngModel)]="cell.value"
                    (ngModelChange)="onCellChange(subSubCategory, cellIndex)"
                    (contextmenu)="onCellRightClick($event, subSubCategory, cellIndex)"
                    (keydown)="handleCellKey($event, subSubCategory, subCategory.id, rowIndex, cellIndex)"
                    class="w-full bg-transparent text-right"/>
                  </td>
                </ng-container>
                <td class="p-2 border">
                  <button (click)="deleteCategory(subSubCategory.id)" class="text-red-500 hover:text-red-700">
                    ✕
                  </button>
                </td>
              </tr>
              <tr *ngIf="subSubCategory.isNew">
                <td class="border p-2" [attr.colspan]="months().length + 1">
                  <input type="text" 
                    [(ngModel)]="subSubCategory.newName"
                    (keydown)="handleCellKey($event, subSubCategory, subCategory.id, rowIndex + 1, 1)"
                   class="p-1 focus:outline-none focus:ring-1 focus:ring-blue-500"
                   style="width: 90%;"/>
                </td>
              </tr>
            </ng-container>

            <tr *ngIf="!subCategory.isNew">
              <td class="border p-2 font-bold">Sub Total</td>
              <ng-container *ngFor="let subTotal of subCategory.subTotals; let i = index;">
                <td  class="p-2 border font-bold text-right"
                *ngIf="i < months().length" class="border p-2 text-right">{{ subTotal }}</td>
              </ng-container>
            </tr>

            <!-- Beak line -->
            <tr>
              <td class="border p-2 font-bold" [attr.colspan]="months().length + 1"></td>
            </tr>

          </ng-container>

          <tr>
            <td class="border p-2 font-bold">{{category.name}} Total</td>
            <ng-container *ngFor="let subTotal of category.subTotals; let i = index;">
              <td *ngIf="i < months().length" class="border p-2 text-right">{{ subTotal }}</td>
            </ng-container>
          </tr>
          <!-- Beak line -->
          <tr>
            <td class="border p-2 font-bold" [attr.colspan]="months().length + 1"></td>
          </tr>

        </ng-container>

        <!-- Region Totals -->
        <tr class="bg-red-50">
          <td class="p-2 border font-bold">Profit / Loss</td>
          <ng-container *ngFor="let profitLoss of totals().profitLoss; let i = index;">
            <td *ngIf="i < months().length" class="p-2 border font-bold text-right">
              {{ profitLoss | number }}
            </td>
          </ng-container>
        </tr>

        <tr class="bg-green-50">
          <td class="p-2 border font-bold">Opening Balance</td>
          <ng-container *ngFor="let balance of totals().openingBalance; let i = index;">
            <td  *ngIf="i < months().length" class="p-2 border font-bold text-right">
              {{ balance | number }}
            </td>
          </ng-container>
        </tr>

        <tr class="bg-green-50">
          <td class="p-2 border font-bold">Closing Balance</td>
          <ng-container *ngFor="let balance of totals().closingBalance; let i = index;">
            <td  *ngIf="i < months().length" class="p-2 border font-bold text-right">
              {{ balance | number }}
            </td>
          </ng-container>
        </tr>
        <!-- End Region-->

      </tbody>
    </table>
  
    <!-- <div class="mt-4 flex gap-2">
      <button (click)="addParentCategory('income')" 
              class="px-4 py-2 bg-green-500 text-white rounded hover:bg-green-600">
        Add Income Category
      </button>
      <button (click)="addParentCategory('expense')" 
              class="px-4 py-2 bg-red-500 text-white rounded hover:bg-red-600">
        Add Expense Category
      </button>
    </div> -->
  
    <!-- Context Menu -->
  <div *ngIf="contextMenu() as ctx" 
  class="fixed bg-white shadow-lg rounded border border-gray-200"
  [style.left.px]="ctx.x" 
  [style.top.px]="ctx.y">
    <div class="p-2 hover:bg-gray-100 cursor-pointer" (click)="applyToAll()">
      Apply to All
    </div>
  </div>


  </div>