<div class="bg-gray-50 mx-auto p-4" (click)="contextMenu.set(null)">
    <div class="flex gap-4 mb-4">
      <input #start type="month" class="p-2 border rounded"
      [value]="startDate() | date:'yyyy-MM'" 
      (change)="onDateChange(start, end)">

      <input #end type="month" class="p-2 border rounded"
      [value]="endDate() | date:'yyyy-MM'" 
      (change)="onDateChange(start, end)">
    </div>
  
    <table class="w-full rounded-lg overflow-hidden border-collapse border">
      <thead>
        <tr>
          <th class="p-2 border bg-gray-200">Categories</th>
          <th *ngFor="let month of months()" class="p-2 border bg-gray-200">
            {{ month | date:'MMM' }}
          </th>
          <th class="p-2 border bg-gray-200">Action</th>
        </tr>
      </thead>
  
      <tbody>
        <!-- 1. Category begin -->
        <ng-container *ngFor="let category of categories()">
          <!-- 1.1. Category name begin -->
          <tr
          [class.bg-green-50]="category.type == 'income'"
          [class.bg-red-50]="category.type == 'expense'">
              <td class="border p-2 font-bold" [attr.colspan]="months().length + 2"
              *ngFor="let cell of category.cells; let categoryColIndex = index">{{ cell.value }}</td>
          </tr>
          <!-- 1.1. Caegory name end -->

          <!-- 2. SubCategory begin -->
          <ng-container *ngFor="let subCategory of category.subCategories">
            <!-- 2.1. SubCategory name begin -->
            <tr class="sub-row"
            [class.bg-green-50]="subCategory.type == 'income'"
            [class.bg-red-50]="subCategory.type == 'expense'"
            *ngIf="!subCategory.isNew">
              <td class="border p-2 font-bold" [attr.colspan]="months().length + 2"
              *ngFor="let cell of subCategory.cells">{{ cell.value }}</td>
            </tr>
            <!-- 2.1. SubCategory name end -->


            <!-- 3. SubSubCategory begin -->
            <ng-container *ngFor="let subSubCategory of subCategory.subCategories">
              <!-- 3.1. SubSubCategory begin -->
              <tr class="sub-sub-row"
              [class.bg-green-50]="category.type == 'income'"
              [class.bg-red-50]="category.type == 'expense'"
              *ngIf="!subSubCategory.isNew">
                <ng-container *ngFor="let cell of subSubCategory.cells; let subSubCategoryColIndex = index">
                  <!-- 3.1.1. SubSubCategory name begin -->
                  <td class="border p-2"
                  *ngIf="!cell.allowFocus">{{ cell.value }}</td>
                  <!-- 3.1.1. SubSubCategory name end -->
                  
                  <!-- 3.1.2. SubSubCategory monthly begin -->
                  <td *ngIf="cell.allowFocus && subSubCategoryColIndex < months().length + 1" class="border p-2">
                    <input #cellInput type="number" class="w-full text-right"
                    [class.income]="subSubCategory.type == 'income'"
                    [class.expense]="subSubCategory.type == 'expense'"
                    [(ngModel)]="cell.value"
                    (ngModelChange)="onCellChange(subSubCategory, subSubCategoryColIndex)"
                    (contextmenu)="onCellRightClick($event, subSubCategory, subSubCategoryColIndex)"
                    (keydown)="onCellKeyDown($event, subSubCategory, subCategory.id)"
                    (focus)="onCellFocus()"/>
                  </td>
                  <!-- 3.1.2. SubSubCategory monthly end -->
                </ng-container>

                <!-- 3.1.3 SubSubCategory delete begin -->
                <td class="p-2 border font-bold">
                  <button class="w-full bg-red-500 hover:bg-red-700 text-white"
                  (click)="deleteCategory(subSubCategory.id)">
                    ✕
                  </button>
                </td>
                <!-- 3.1.3. SubSubCategory delete end -->
              </tr>
              <!-- 3.1. SubSubCategory end -->

              <!-- 3.2. SubSubCategory add new begin -->
              <tr class="sub-sub-row"
              [class.bg-green-50]="subSubCategory.type == 'income'"
              [class.bg-red-50]="subSubCategory.type == 'expense'" 
              *ngIf="subSubCategory.isNew">
                <td class="border p-2" [attr.colspan]="months().length + 1"
                *ngFor="let cell of subSubCategory.cells">
                  <input #cellInput type="text" class="w-full"
                  [class.income]="subSubCategory.type == 'income'"
                  [class.expense]="subSubCategory.type == 'expense'"
                  [(ngModel)]="cell.value"
                  (keydown)="onCellKeyDown($event, subSubCategory, subCategory.id)"
                  (focus)="onCellFocus()"/>
                </td>
              </tr>
              <!-- 3.2. SubSubCategory add new end -->
            </ng-container>
            <!-- 3. SubSubCategory end -->

            <!-- 2.2. SubCategory total begin -->
            <tr class="sub-sub-row"
            [class.bg-green-50]="subCategory.type == 'income'"
            [class.bg-red-50]="subCategory.type == 'expense'" 
            *ngIf="!subCategory.isNew">
              <ng-container *ngFor="let subTotal of subCategory.subTotals; let subTotalColIndex = index;">
                <td class="border p-2 font-bold"
                *ngIf="subTotalColIndex == 0">Sub Total</td>

                <td  class="p-2 border font-bold text-right"
                *ngIf="subTotalColIndex > 0 && subTotalColIndex < months().length + 1">{{ subTotal }}</td>
              </ng-container>
            </tr>
            <!-- 2.2. SubCategory total end -->
            
            <tr class="sub-row"
            [class.bg-green-50]="subCategory.type == 'income'"
            [class.bg-red-50]="subCategory.type == 'expense'"  
            *ngIf="subCategory.isNew">
              <td class="border p-2 font-bold" [attr.colspan]="months().length + 1"
                *ngFor="let cell of subCategory.cells">
                  <input #cellInput type="text" class="w-full"
                  [class.income]="subCategory.type == 'income'"
                  [class.expense]="subCategory.type == 'expense'"
                  [(ngModel)]="cell.value"
                  (keydown)="onCellKeyDown($event, subCategory, category.id)"
                  (focus)="onCellFocus()"/>
                </td>
            </tr>

            <!-- Beak line -->
            <tr><td class="border p-2 font-bold" [attr.colspan]="months().length + 2"></td></tr>
          </ng-container>
          <!-- 2. SubCategory end -->

          <!-- 1.2. Category total begin -->
          <tr class="sub-row"
          [class.bg-green-50]="category.type == 'income'"
          [class.bg-red-50]="category.type == 'expense'">
            <ng-container *ngFor="let subTotal of category.subTotals; let subTotalColIndex = index;">
              <td class="border p-2 font-bold"
              *ngIf="subTotalColIndex == 0">{{category.name}} Total</td>

              <td  class="p-2 border font-bold text-right"
              *ngIf="subTotalColIndex > 0 && subTotalColIndex < months().length + 1">{{ subTotal }}</td>
            </ng-container>
          </tr>
          <!-- 1.2. Category total end -->

          <!-- Beak line -->
          <tr><td class="border p-2 font-bold" [attr.colspan]="months().length + 2"></td></tr>

        </ng-container>
        <!-- 1. Category end -->

        <!-- Region Totals -->
        <tr>
          <td class="bg-yellow-200 p-2 border font-bold">Profit / Loss</td>
          <ng-container *ngFor="let profitLoss of totals().profitLoss; let i = index;">
            <td class="p-2 border font-bold text-right"
            [class.bg-yellow-200] = "profitLoss == 0"
            [class.bg-green-200] = "profitLoss > 0"
            [class.bg-red-200] = "profitLoss < 0"
            *ngIf="i > 0 && i < months().length + 1">
              {{ profitLoss | number }}
            </td>
          </ng-container>
        </tr>

        <tr>
          <td class="bg-yellow-200 p-2 border font-bold">Opening Balance</td>
          <ng-container *ngFor="let balance of totals().openingBalance; let i = index;">
            <td class="p-2 border font-bold text-right"
            [class.bg-yellow-200] = "balance == 0"
            [class.bg-green-200] = "balance > 0"
            [class.bg-red-200] = "balance < 0"
            *ngIf="i > 0 && i < months().length + 1">
              {{ balance | number }}
            </td>
          </ng-container>
        </tr>

        <tr>
          <td class="bg-yellow-200 p-2 border font-bold">Closing Balance</td>
          <ng-container *ngFor="let balance of totals().closingBalance; let i = index;">
            <td class="p-2 border font-bold text-right"
            [class.bg-yellow-200] = "balance == 0"
            [class.bg-green-200] = "balance > 0"
            [class.bg-red-200] = "balance < 0"
            *ngIf="i > 0 && i < months().length + 1">
              {{ balance | number }}
            </td>
          </ng-container>
        </tr>
        <!-- End Region-->

      </tbody>
    </table>
  
    <!-- Context Menu -->
  <div *ngIf="contextMenu() as ctx" 
  class="fixed bg-white shadow-lg rounded border border-gray-200"
  [style.left.px]="ctx.x" 
  [style.top.px]="ctx.y">
    <div class="p-2 hover:bg-gray-100 cursor-pointer" (click)="applyToAll()">
      Apply to All
    </div>
  </div>


  </div>